@{
    ViewData["Title"] = "Test";
}

<h2>@ViewData["Title"]</h2>

<p>One of the States we will show stats for</p>



@foreach (DIS_Assignment4.Models.Datum result in Model.data)
{
    @(result.key+" " +result.data_year + " " + result.value)
    <br />
}





<!-- David's build of chart structure -->



@*@model ChartModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8" />
    <title>Chart.js examples</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>


<body>

    <h1> Bar chart</h1>

    <canvas id="barchart" width="800" height="350"></canvas>


    <script>
    new Chart(document.getElementById("barchart"), {
      type: '@Model.ChartType',
      data: {
        labels: [@Html.Raw(@Model.Labels)],               // X-axis (years)
        datasets: [
          {
            label: "# of Crimes",                         // Y-axis (# of crimes)
            backgroundColor: [@Html.Raw(@Model.Colors)],
            data: [@Model.Data]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: '@Model.Title'
        }
      }
    });

    </script>*@











