<h2>@ViewData["Title"]</h2>

<p>One of the States we will show stats for @ViewData["RaceName"]</p>
@model IEnumerable<CrimeData>
<table>
<tr>
<th>Race</th>
<th>Total</th>
<th>Year</th>
<th>Month</th>
</tr>
@foreach (CrimeData c in Model)
    {
<tr>
<td>@c.Race</td>
<td>@c.Total</td>
<td>@c.Year</td>
<td>@c.Month</td>
</tr>
    }
</table>