
@{
    ViewData["Title"] = "Race Details";
}

<h2>@ViewData["Title"]</h2>

@model IEnumerable<DIS_Assignment4.Models.Datum>
    <!DOCTYPE html>
    <html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="~/css/site.css">
    </head>
<body>
    <h3 align="Center">
        To Create a New Record, Click <a href="/Detail/Create/@(ViewData["key"])" class="btn btn-primary btn-md">Here</a>
    </h3>
    <br />
    <br />
    <table align="center">
        <tr>
            <td><h4><b>Race Records</b></h4></td>
            <td><h4><b>Year Records</b></h4></td>
            <td><h4><b>Amount of Arrests</b></h4></td>
            <td><h4><b>Delete Record</b></h4></td>
            <td><h4><b>Update Record</b></h4></td>
        </tr>
        @foreach (DIS_Assignment4.Models.Datum result in Model)
    {
        <tr>
            <td>
                @(result.key)
            </td>
            <td>@(result.data_year)</td>
            <td>
                @(result.value)
            </td>
            <td>
                <form class="form-group" asp-controller="Detail" asp-action="Delete" method="post">
                    <input type="hidden" name="key" value="@result.key" />
                    <input type="hidden" name="data_year" value="@result.data_year" />
                    <input type="hidden" name="value" value="@result.value" />

                    <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                </form>
            </td>
            <td>
                <form class="form-group" asp-controller="Detail" asp-action="Edit" method="post">
                    <input type="hidden" name="ID" value="@result.ID" />
                    <input type="hidden" name="key" value="@result.key" />
                    <input type="hidden" name="data_year" value="@result.data_year" />
                    <input type="hidden" name="value" value="@result.value" />

                    <button type="submit" class="btn btn-sm">Update</button>
                </form>
            </td>
        </tr>


    }
    </table>
        </body>
</html>
